@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('../fonts/CabinetGrotesk-Variable.woff2') format('woff2'), url('../fonts/CabinetGrotesk-Variable.woff') format('woff');
  font-style: normal;
  font-weight: 1 999;
}