
@import 'sass/reset.scss', 'sass/fonts.scss';
body {
	font-family: 'Space Grotesk', sans-serif;
	font-size: 15px;
	line-height: 1.5;
	text-align: center;
	background-color: #f9de49;
	color: #1A0F72;
}

header {
	float: left;
	height: 100vh;
	width: 30%;
	background-color: #E8E2CF;
	padding-top: 50px;
	padding-left: 30px;
	padding-right: 30px;
}

.main {
	float: left;
	width: 70%;
	height: 100vh;
	overflow-y: scroll;
	background-color: #f9de49;
	background-image: url(../images/gjc-pattern.svg);
	padding: 80px 100px 100px 100px;
}

h1 {
	margin-bottom: 40px;
}

h1 img {
	width: 100%;
}

h2 {
	font-size: 22px;
	letter-spacing: -0.1px;
	line-height: 1.2;
	margin-top: 10px;
}

h2 span {
	font-size: 15px;
	padding-left: 2px;
	font-weight: 500;
}

p {
	margin-top: 4px;
	font-weight: 500;
}

a {
	color: #1A0F72;
}

.container {
	max-width: 360px;
	margin-left: auto;
	margin-right: auto;
}

.infoblock{
	margin-bottom: 60px;
}

.contact h2 {
	margin-bottom: 30px;
}

.contact {
	margin-bottom: 100px;
}

.button {
	background-color: #510550;
	padding: 24px 30px 20px 30px;
	margin-bottom: 17px;
	border-radius: 4px;
	letter-spacing: 0.6px;
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;
	display: block;
}

.button:focus {
	border: 2px solid #ffddff;
	padding: 22px 28px 18px 28px;
	
}

.button:hover {
	background-color: #2d032c;
	
}


/* Responsive Design */

@media (min-width:1500px) {
	h2 {
		font-size: 28px;
	}
	p, .subscript {
		font-size: 18px;
	}
	header {
		width: 50%;
	}
	.main {
		width: 50%;
	}
	.key-info {
		margin: 50vh auto 0 auto;
		transform: translateY(-60%);
		width: 490px;
	}
	.main {
		padding-top: 15vh;
	}
}


@media (max-width:768px) {
	header {
		float: none;
		height: auto;
		width: 100%;
		padding: 50px 10% 40px 10%;
	}
	
	.main {
		width: 100%;
		height: auto;
		overflow-y: scroll;
		padding-top: 40px;
	}
	
	h1{
		margin-bottom: 20px;
	}
	
	h1 img {
		width: 70%;
	}
	
	h2 {
		font-size: 27px;
	}
	
	header h2 {
		font-size: 22px;
		display: inline;
	}
	
	.contact {
		margin-bottom: 20px;
	}
}

@media (max-width:560px) {
	h2, header h2 {
		font-size: 20px;
	}
	.main {
		padding: 40px 20px 40px 20px;
	}
}

@media (max-width:375px) {
	header {
		padding: 50px 6% 40px 6%;
	}
	.button {
		font-size: 13px;
		padding: 18px;
		margin-bottom: 12px;
	}
}

